.pokemon-container{
    border: 1px solid transparent;
    border-radius: 3px;
    width: 10rem;
    cursor: pointer;
    background-color: rgb(119, 199, 226);
    padding: 0.5rem;
    transition: transform 0.5s;
}
.pokemon-container:hover{
    transform: scale(1.05);
}
.pokemon-img{
    margin-top: 0.5rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: rgb(21, 235, 235);
}
.pokemon-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.pokemon-id, .pokemon-type{
    font-size: 1rem;
    font-weight: 500;
}
