.pokemon-container{
    border: 1px solid black;
    border-radius: 3px;
    width: 10rem;
    height: 15rem;
    
}

.pokemon-name{
    font-size: 1.2rem;
    font-weight: 500;
}

.pokemon-id, .pokemon-type{
    font-size: 1rem;
    font-weight: 500;
}