.list-container{
    margin-top: 10%;
    width: 70vw;
    border: 1px solid #FFF;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: stretch;
    padding: 20px 0px;
    background-color: #fff;
}